<footer>
    <div class="footerFlex">
        <Section>
            <h2>Impressum und Herausgeber</h2>
            <p>Verein zur Förderung mehrsprachiger digitaler Schulungsformate</p>
            <p>Anschrift: Penzingerstraße 131/2/48, 1140 Wien</p>
            <p>E-Mail: <a href="mailto:info@traintheworld.eu">info@traintheworld.eu</a></p>
            <p>Tel: <a href="tel:00436801270087">+43 680 1270 087</a></p>
            <p>ZVR-Zahl: 1038276253</p>
            <p>Icons: <a target="_blank" href="https://remixicon.com/">Remix Icon</a></p>
            <p>Fotos: <a target="_blank" href="https://stock.adobe.com/">Adobe Stock</a></p>
        </Section>
        <section id="eu">
            <a target="_blank" href="https://erasmus-plus.ec.europa.eu/"><img src="assets/img/eu.webp"
                    alt="Kofinanziert von der Europäischen Union" width="88px"> </a>
            <div>
                <p>Die Inhalte dieser Seite stehen unter der Creative-Commons-Lizenz CC BY 4.0 International.</p>
                <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/"><img src="assets/img/by-sa.svg"
                        alt="Creative-Commons-Lizenz CC BY 4.0 International" width="88px"> </a>
            </div>

        </section>
    </div>
</footer>