<footer>
    <div class="footerFlex">
        <Section>        
            <h2>Impressum:</h2>
            <p>Verein zur Förderung mehrsprachiger digitaler Schulungsformate</p>
            <p>Anschrift: Penzingerstraße 131/2/48, 1140 Wien</p>
            <p>E-Mail: <a href="mailto:info@traintheworld.earth">info@traintheworld.earth</a></p>
            <p>Tel: <a href="tel:00436801270087">+43 680 1270 087</a></p>
            <p>ZVR-Zahl: 1038276253</p>
            <p>Icons: <a target="_blank" href="https://remixicon.com/">Remix Icon</a></p> 
            <p>Fotos: <a target="_blank" href="https://remixicon.com/">Adobe Stock</a></p>
        </Section>
    </div>
</footer>