:root {
    --mainGreen: #2A7C6F;
    --mainGray: #36454F;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0em;
}

h1,
h2,
h3,
h4 {
    color: var(--mainGreen);
}


nav {
    text-align: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;
}

a {
    text-decoration: none;
}

nav>a {
    color: var(--mainGreen);
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 200%;
    text-transform: capitalize;
}

h1>span {
    text-transform: none;
}

section {
    padding: 2rem 10%;
}

p {
    color: var(--mainGray);
}

#team {
    text-align: center;
}

#teamMembers {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.teamMember {
    text-align: center;
}

.bericht {
    border-color: #36454F;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
}

.custom-button {
    padding: 10px 20px;
    background-color: #36454F;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #2A7C6F;
}

.c-b {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.b-w {
    margin: 0 1rem 1rem 1rem;
}

.b-h {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teamMember a {
    text-decoration: underline;
    color: var(--mainGreen);
}

#womenPlaceHolder {
    background-image: url("/assets/img/women.webp");
    background-color: var(--mainGreen);
    min-height: 10rem;
    background-size: cover;
    padding: 2rem 0;

}

footer {
    background-color: #36454F;
    color: white;
    min-height: 10rem;
}

.footerFlex {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerFlex h2 {
    color: white;
}

.footerFlex a {
    color: white;
    text-decoration: underline;
}

.footerFlex p {
    color: white;
    margin-bottom: 0rem;
}

#eu {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}

#eu img {
    width: 60%;
}

@media (min-width: 1126px) {
    .footerFlex {
        padding: 1rem 10%;
    }

    section {
        padding: 2rem 2rm;
    }

    #womenPlaceHolder {
        min-height: 35rem;
    }

    h1 {
        font-size: 300%;
    }

    #eu img {
        width: 200px;
    }

}