---
layout: default
---

{{ content }}
<main>
    <section>
        <h1>Berichte</h1>
        <div id="teamMembers">
            <div class="bericht">
                <div class="b-w">
                    <div class="b-h"><h2>Dissemination</h2> 15. Oktober 2024</div>
                    Im Rahmen eines Erasmus+ Projekts Edu2Help fand vom 5. Oktober bis zum 15. Oktober 2024 ein Peer-Learning in Zypern mit unserem zypriotischen Partner statt. Das Erasmus+-Projekt Edu2Help verfolgt das Ziel, Frauen in herausfordernden psychischen Situationen durch die Ausbildung von Resilienzpädagoginnen zu unterstützen. Ein zentraler Fokus liegt auf der Nutzung von KI-unterstützte Simultandolmetsch-Tools für multilinguale Webinare in Beratungssituationen, um sprachliche Barrieren abzubauen und eine inklusive Kommunikation zu ermöglichen. Diese Dissemination bietet eine umfassende Darstellung der Erkenntnisse aus dem Projekt, mit besonderem Schwerpunkt auf den Herausforderungen und Erfolgen der KI-Tools.
                <div class="c-b"><a href="assets/pdf/Dissemination2024.pdf" target="_blank" class="custom-button">Download</a></div>
                </div> 
            </div>
            <div class="bericht">
                <div class="b-w">
                    <div class="b-h"><h2>Erfahrungsbericht</h2> 15. Oktober 2024</div>
                    Der Bericht beschreibt die Erfahrungen des Erasmus-Projekts „Edu2Help“, das vom 5. bis 15. Oktober 2024 stattfand. Ziel des Projekts war die Förderung der Resilienz von Frauen durch innovative, KI-gestützte Simultandolmetsch-Tools, Workshops und kulturelle Aktivitäten. Schwerpunkt war die Unterstützung einer vulnerablen Frauengruppe in Zypern, die mit geopolitischen, sozialen und gesundheitlichen Herausforderungen konfrontiert ist. Das Projekt beinhaltete Tests moderner Übersetzungstools wie Jabra Speak und ChatGPT-4.0, um multilinguale Kommunikation zu erleichtern, sowie Workshops zu Resilienzstrategien. Außerdem wurde ein Schulungskonzept entwickelt, das lokale Ressourcen Zyperns nutzt, um mentale Gesundheit und Resilienz zu fördern. Abschließend wurden die Ergebnisse analysiert und in einem Manual für künftige digitale und mehrsprachige Webinare dokumentiert.
                    <div class="c-b"><a href="assets/pdf/Erfahrungsbericht2024.pdf" target="_blank" c class="custom-button">Download</a></div>
                </div> 
            </div>
            <div class="bericht">
                <div class="b-w">
                    <div class="b-h"><h2>Digitale KI-Schulung</h2> 30. November 2024</div>
                    Im Rahmen eines Erasmus+ Projekts Edu2Help wurde von der European Union of Women (EUW) ein multilinguales Webinar für Resilienzpädagogik unter Nutzung von KI-unterstützen Simultandolmetschtools organisiert, um den Teilnehmerinnen praxisnahe Fähigkeiten im Bereich der Künstlichen Intelligenz (KI) zu vermitteln. Der Schwerpunkt lag auf der multilinguellen Anwendung von KI-Tools sowie auf der Integration von KI in den Bereich der Resilienzpädagogik. Die Schulung fand an vier Terminen im November 2024 statt und wurde von 15 Teilnehmerinnen aus vier verschiedenen Ländern besucht.
                <div class="c-b"><a href="assets/pdf/KI-Schulung2024.pdf" target="_blank" c class="custom-button">Download</a></div>
                </div> 
            </div>

        </div>
    </section>
</main>