---
layout: default
---

{{ content }}
<main>
    <section>
        <h1>{{site.title}} <span>Train the World</span></h1>
    </section>
    <div id="womenPlaceHolder"></div>
    <section>
        <h2>Über Uns</h2>
        <p>
            Der Verein zur Förderung mehrsprachiger digitaler Schulungsformate generiert und vermittelt Wissen und Informationen für und über die Erwachsenenbildung und für die digitale mehrsprachige Bildung in Europa. Wir nehmen Informations- und Bildungsbedarfe sowie Beratungs- und Orientierungsbedarfe im Feld der Erwachsenenbildung und der digitalen mehrsprachigen Kompetenzentwicklung wahr, untersuchen Möglichkeiten der Spracherkennung und der digitalen simultanen Übersetzungsmethoden und entwickeln adäquate Lösungen, um diese Bedarfe zu decken. Als unabhängiger Verein im Feld der Erwachsenenbildung tragen wir mit digitalen Medien und Bildungsangeboten zur Professionalisierung von Institutionen und Strukturen der Erwachsenenbildung und zur digitalen mehrsprachigen Kompetenzentwicklung bei und decken Informationsbedürfnisse von Bildungsinteressierten und Lernenden. Gleichzeitig wollen wir mit unseren Maßnahmen Inklusion, Gleichheit und Nicht-Diskriminierung in Europa fördern.
        </p>
        </section>
        <section>
            <h2>Projekte</h2>
            <h3>Edu2Help</h3>
            <p>Verbesserung digitaler Fähigkeiten und Kompetenzen von Erwachsenenbildner:innen bei der Planung und Durchführung von transnationalen digitalen multilingualen Train-the-Trainer Webinaren.</p>
        </section>
        <section>
            <h2 id="team">Team</h2>
            <div id="teamMembers">
                <div class="teamMember">
                    <img src="/assets/img/susanne.webp" alt="Obfrau Mag. Susanne Leitner, MA" width="150" height="150"> 
                    <h3>Mag. Susanne Leitner, MA</h3>
                    <p>Obfrau</p>
                    <p>Tel: <a href="tel:00436801270087">+43 680 1270 087</a></p>
                    <p>E-Mail: <a href="mailto:info@traintheworld.earth">info@traintheworld.earth</a></p>
                </div>
                <div class="teamMember">
                    <img src="/assets/img/dieter.webp" alt="Kassier Mag. Dieter Knoll" width="150" height="150"> 
                    <h3>Mag. Dieter Knoll</h3>
                    <p>Kassier</p>
                    <p>E-Mail: <a href="mailto:info@traintheworld.earth">info@traintheworld.earth</a></p>
                </div>
            </div>
        </section>
</main>